{% load static %}


{#    Laptops       #}
<section class="product-area li-laptop-product li-laptop-product-2 pb-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Laptops</span>
                                </h2>
                                <ul class="li-sub-category-list">
                                    <li class="active"><a href="shop-left-sidebar.html">Prime Video</a></li>
                                    <li><a href="shop-left-sidebar.html">Computers</a></li>
                                    <li><a href="shop-left-sidebar.html">Electronics</a></li>
                                </ul>
                            </div>
                            <div class="li-banner-2 pt-15">
                                <div class="row">
                                    <!-- Begin Single Banner Area -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-banner">
                                            <a href="#">
                                                <img src="{% static 'images/banner/2_1.jpg' %}" alt="Li's Static Banner">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Single Banner Area End Here -->
                                    <!-- Begin Single Banner Area -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-banner pt-xs-30">
                                            <a href="#">
                                                <img src="{% static 'images/banner/2_2.jpg' %}" alt="Li's Static Banner">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Single Banner Area End Here -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {% for product in products.notebooks %}
                                        <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                       {% include 'products/product.html' %}
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {% endfor %}


                                        <!-- single-product-wrap end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>

            </section>

{#    Smartphones       #}
<section class="product-area li-laptop-product li-smart-phone-product-2 pb-50">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Smartphone</span>
                                </h2>
                                <ul class="li-sub-category-list">
                                    <li class="active"><a href="shop-left-sidebar.html">Camera Accessories</a></li>
                                    <li><a href="shop-left-sidebar.html">XailStation</a></li>
                                </ul>
                            </div>
                            <div class="li-banner-2 pt-15">
                                <div class="row">
                                    <!-- Begin Single Banner Area -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-banner">
                                            <a href="#">
                                                <img src="{% static 'images/banner/2_5.jpg' %}" alt="Li's Static Banner">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Single Banner Area End Here -->
                                    <!-- Begin Single Banner Area -->
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-banner pt-xs-30">
                                            <a href="#">
                                                <img src="{% static 'images/banner/2_6.jpg' %}" alt="Li's Static Banner">
                                            </a>
                                        </div>
                                    </div>
                                    <!-- Single Banner Area End Here -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                   {% for product in products.smartphones %}
                                        <div class="col-lg-12 product-col-lg-12">
                                        <!-- single-product-wrap start -->

                                        {% include 'products/product.html' %}

                                        <!-- single-product-wrap end -->
                                    </div>
                                   {% endfor %}


                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>

            </section>