{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="text-center">
            {% for i in messages %}
                <div class="alert alert-{{ i.tags }} alert-dismissible fade show" role="alert">
                  <strong>{{ i.tags }}</strong>{{ i }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}